<section class="texture">
	<div class="container">
		<div class="row d-flex align-items-center vh-100" style="position: relative;">
			<div class="col-md-4">
				<h1 class="text-light text-bold">
					Download the Imba Pano App Now
				</h1>
				<p class="text-light">Lorem Ipsium donor dhdhh dk hjdg gfg f guf gf g</p>

				<div class="row gy-3">
					<div class="col-md-6">
						<div class="app">
							<img src="./assets/images/icon/playstore.png" style="border-radius: 10px;">
						</div>
					</div>
					<div class="col-md-6">
						<div class="app">
							<img src="./assets/images/icon/applestore.png" style="border-radius: 10px;">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 d-flex align-items-end" style="position: absolute; bottom: 0; right: 0">
				<div class="grouped-img">
					<img src="./assets/images/group2.png">
				</div>
			</div>
		</div>
	</div>	
</section>