<section class="padding">

<div class="container">
    <form class="row d-flex justify-content-center">
    	
        <!-- Submit Page -->
        <div class="col-md-8">
        	<div class="sale-property-section">
    			<h4 class="text-bold">{{propertyData.property_title}} </h4>
    			<p>Enhance your property listing by including high-quality images that showcase its unique features. Capture different angles, both inside and outside, to offer a comprehensive view. </p>
    		</div>
            <div class="sale-property-page">
            	

		

                <h3>Gallery</h3>
                <div class="submit-section">
                    <div class="dropzone" appDropzone ></div>
                </div>
                

                <div class="divider"></div>
                <a routerLink="/post/property/preview" class="button preview margin-top-5">Preview <i class="fa fa-arrow-circle-right"></i></a>

            </div>
        </div>

    </form>
</div>

</section>