<section>
  <div class="footer-hero">
      <h4>We help people and homes find each other </h4>
  </div>
</section>
<footer>
    <div class="container">
      <div class="row d-flex w-100 justify-content-center">
          <div class="col-md-4">
            <ul class="footer-list">
              <li>
                <a href="#"><span class="icon"><i class="fa fa-phone"></i></span> Phone: (123) 456-7890</a>
              </li>
              <li>
                <a href="#"><span class="icon"><i class="fa fa-envelope"></i></span> Email: info@example.com</a>
              </li>
              <li>
                <a href="#"><span class="icon"><i class="fa fa-map-marker"></i></span> Address: 123 Main St, City, Country</a>
              </li>
            </ul>
            <div class="social-media-icons">
              <a href="#" class="icon">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#" class="icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="#" class="icon">
                <i class="fab fa-facebook-f"></i>
              </a>
            </div>

          </div>

          <div class="col-md-4">
             <h4>Get insider information on our properties</h4>
                <p>Subscibre to our weekly digest</p>

                <form class="subscription-form">
                  <input type="text" placeholder="Enter email">
                  <button type="submit" class="subscription-btn">Subscribe</button>
                </form>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-2 is-pulled-right">
            <h4>Get the app</h4>
              <div class="app-icons">
                  <a href="#">
                    <img src="./assets/images/icon/playstore.png">
                  </a>

                  <a href="#">
                    <img src="./assets/images/icon/applestore.png">
                  </a>
              </div>
          </div>
      </div>

      <br><br>
      <div class="row d-flex justify-content-center">
          <div class="col-md-10 text-center">
            <ul class="list-inline">
              <li class="list-item active">
                  <a href="#">Pricing</a>
              </li>
              <li class="list-item active">
                  <a href="#">Blog</a>
              </li>
              <li class="list-item active">
                  <a href="#">Find Agent</a>
              </li>
              <li class="list-item active">
                  <a href="#">Estimate Calculator</a>
              </li>
              <li class="list-item active">
                  <a href="#">Rental Guide</a>
              </li>
              <li class="list-item active">
                  <a href="#">Sellers Guide</a>
              </li>
              <li class="list-item active">
                  <a href="#">Business Guide</a>
              </li>
            </ul>
      </div>
      </div>
    </div>

   <div class="divider"></div>

   <div class="container">
      <div class="row d-flex justify-content-center w-100 ">
      <div class="col-md-4">
        <p>&copy; 2023 Imba Pano</p>
      </div>

      <div class="col-md-3 ml-auto">
        <div class="has-text-right">
            <ul class="list-inline">
                <li class="list-item"><a href="#">Privacy Policy</a></li>
                <li class="list-item"><a href="#">Terms of use</a></li>
            </ul>
        </div>
      </div>
    </div>
   </div>
</footer>