<section>
  <div class="footer-hero">
      <h4>We help people and homes find each other </h4>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
          <a href="#">
              <img src="./assets/images/logo.png" alt="Logo" width="162" height="28">
          </a>
      </div>
      <div class="column">
        <ul class="list-unstyled">
          <li><h4 class="title is-4">Features</h4></li>
          <li><a href="#">Imbano App</a></li>
          <li><a href="#">Affordability Calculator</a></li>
          <li><a href="#">Estimate Value</a></li>
          <li><a routerLink="premium-ads">Premium Ads</a></li>
          <li><a href="#">Post a sale</a></li>
          <li><a href="#">Rent Calculator</a></li>
          <li><a href="#">Archietects</a></li>
          <li><a href="#">Construction Workers</a></li>
          <li><a href="#">Interior Decorators</a></li>
        </ul>
      </div>
      <div class="column">
        
        <ul style="list-style: none;">
          <li><h4 class="title is-4">Company</h4></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Press</a></li>
        </ul>
      </div>
      <div class="column">
        
        <ul class="list-unstyled">
          <li><h4 class="title is-4">Support</h4></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Rental Guides</a></li>
          <li><a href="#">Sellers Guides</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a routerLink="help">Help Center</a></li>
        </ul>
      </div>
      <div class="column">
        
        <ul class="list-unstyled">
          <li><h4 class="title is-4">Terms</h4></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Abuse</a></li>
          <li><a href="#">DMCA Policy</a></li>
          <li><a href="#">Cookie Policy</a></li>
        </ul>
      </div>
    </div>
  </div>

    <div class="divider"></div>

   <div class="container">
      <div class="row d-flex justify-content-center w-100 ">
      <div class="col-md-4">
        <p>&copy; 2023 Imba Pano</p>
      </div>

      <div class="col-md-3 ml-auto">
        <div class="has-text-right">
            <ul class="list-inline">
                <li class="list-item"><a href="#" class="footer-img"><img src="./assets/images/icon/playstore.png"></a></li>
                <li class="list-item"><a href="#" class="footer-img"><img src="./assets/images/icon/applestore.png"></a></li>
            </ul>
        </div>
      </div>
    </div>
   </div>
</footer>

