.custom-file-input {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-file-label {
  padding: 10px 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.inputfile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}


.signup-btn{
  width: 100%;
  background: #c84f45;
  color: #fff;
  padding: 15px;
  margin-top: 20px;
}

.iti__flag-container{
  position: absolute !important;
  top: 12px;
  left: 5px;
  z-index: 100;
}

button.signup-btn{
  position: relative !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.loader {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #c84f45; // primary color
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  display: none; 
  position: absolute;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.show-loader {
  display: block;
}
