.form-group{
	display: block !important;
	text-align: left !important;

	label{
		text-align: left !important;
	}

	.form-control{
		border: 1px solid #ddd !important;
		border-radius: 10px;
	}

	textarea{
		border: 1px solid #ddd !important;
		border-radius: 10px;
	}

	button{
		border-radius: 10px;
		background: #c84f45 !important;
		padding: 10px;
		border: none !important;
	}
}