<section class="hero is-large is-primary custom-hero">
  <div class="hero-content">
    <div class="container has-text-centered">
      <h1 class="title">
        Find your Dream Home
      </h1>
      <h2 class="subtitle">
        Discover Amazing Content
      </h2>
    </div>
  </div>
</section>

<div class="position-relative">
  <section class="search-bar">
    <div class="search-with-addon">
      <div class="input-icon">
        <input type="search" class="input-search" placeholder="Enter address eg. Street, city, state or zip">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </section>
</div>

<!-- category section -->
<section class="home-category">
   <div class="container">
  <div class="row d-flex gy-2 justify-content-center align-items-center w-100">
    <div class="col-12 col-md-4">
      <h3 class="text-bold">Looking for something specific?</h3>
    </div>
    <div class="col-6 col-md-2">
      <a class="category-box" href="#">
        <i class="fa fa-building"></i>
        <p>Apartments</p>
      </a>
    </div>
    <div class="col-6 col-md-2">
      <a class="category-box" href="#">
        <i class="fa fa-home"></i>
        <p>Houses</p>
      </a>
    </div>
    <div class="col-6 col-md-2">
      <a class="category-box" href="#">
        <i class="fas fa-warehouse"></i>
        <p>Garages</p>
      </a>
    </div>
    <div class="col-6 col-md-2">
      <a class="category-box" href="#">
        <i class="fas fa-store"></i>
        <p>Commercials</p>
      </a>
    </div>
  </div>
</div>

</section>
<!-- end category -->

<!-- newly added properties -->
<br><br><br><br>
<section>
  <div class="container">
    <div class="row d-flex justify-content-between w-100 columns is-vcentered is-justify-content-between">
      <div class="col-md-4">
        <h2 class="text-bold">
            Newly added <span class="text-primary">Properties</span>
        </h2>
      </div>

      <div class="col-md-3 ml-auto">
        <div class="has-text-right">
            <a href="#">See all properties</a>
        </div>
      </div>
    </div>

    <div class="mt-10">
      <div class="property-carousel row" appSlickCarousel>
        <div *ngFor="let cardSet of propertyCards; let setIndex = index">
         <div class="col" *ngFor="let card of cardSet; let cardIndex = index"> <!-- Add cardIndex to keep track of the card in a set -->
      <div class="column">
        <div class="property-card">
          <div class="label">
            {{ card.propertyType }}
          </div>
          <div class="property-image-carousel">
            <div class="property-image-carousel">
              
              <div class="property-image">
                <button class="carousel-button prev" (click)="prevImage(setIndex, cardIndex)">❮</button> 
                <img [src]="card.images[card.currentIndex]" alt="Property Image" class="carousel-image">
                <button class="carousel-button next" (click)="nextImage(setIndex, cardIndex)">❯</button> 
                <div class="property-agent">
                  <a href="#">
                    <img src="./assets/images/agents/avatar.jpg">
                  </a>
                </div>
              </div>
              
            </div>
            <div class="carousel-dots">
              <span *ngFor="let image of card.images; let i = index" [class]="getDotClass(i, setIndex)" (click)="goToImage(i, setIndex)"></span> 
            </div>
          </div>
          
          <div class="details">
            <div class="property-name">
              <a href="details">{{ card.propertyName }} </a> 
            </div>
            <div class="property-price">
              <p>{{ card.propertyPrice }}</p> 
            </div>
          </div> 
          <div class="address">
            <p><i class="fa fa-map-marker"></i> {{ card.propertyAddress }}</p> 
          </div> 
        </div>
      </div>
    </div>
        </div>
        
      </div>

      <!-- arrows -->
    <div class="slider-arrows">
      
  <button class="arrow prev-slide" onclick="prevSlide()"><i class="fa fa-chevron-left"></i></button> <!-- A button with a previous icon -->
  <button class="arrow next-slide" style="cursor: pointer;" onclick="nextSlide()"><i class="fa fa-chevron-right"></i></button> <!-- A button with a next icon -->
    </div>
  
    </div>
  </div>
</section>

<div class="mt-10"></div>
<section class="padding">
<div class="container">
    <div class="row d-flex justify-content-start w-100 columns">
      <div class="col-md-5">
        <h2 class="text-bold">
            Most viewed and most popular <span class="text-primary">Places</span>
        </h2>
      </div>
    </div>
  </div>

<div style="padding-top: 20px" class="places" appSlickHandCarousel>
  <div *ngFor="let place of places" class="place-carousel">
  <div class="place-card">
      <img [src]="place.image" alt="{{ place.title }}" width="200" height="150">
      <div class="content">
          <div class="place-title">
            <h4>{{place.title}}</h4>
          </div>
          <div class="place-description">
            <p>{{place.desc}}
          </div>
      </div>
  </div>
</div>
</div>

</section>
<!-- end find places -->

<!-- find agents -->
<section class="padding">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center w-100">
      <div class="col-md-7">
          <div class="text-center">
              <h2 class="text-bold">Find Agent</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. </p>

              <div class="tags">
                  <a class="button is-rounded is-small active-tag" href="#">Any</a>
                  <a class="button is-rounded is-small" href="#">Interior Decorators</a>
                  <a class="button is-rounded is-small" href="#">Interior Decorators</a>
                  <a class="button is-rounded is-small" href="#">Architectures</a>
                  <a class="button is-rounded is-small" href="#">Construction Workers</a>
              </div>
              <section class="search-bar d-flex justify-content-center">
              <div class="search-with-addon">
                <div class="input-icon">
                  <input type="search" class="input-search" placeholder="Enter agent name">
                  <i class="fa fa-search"></i>
                </div>
              </div>
            </section>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="padding padding-bottom-20 bg-colored negative-space-45">
    <div class="container">
     <div class="row d-flex justify-content-between w-100 columns is-vcentered is-justify-content-between">
      <div class="col-md-4">
        <h2 class="text-bold">
            Article and helpful <span class="text-primary">tips</span>
        </h2>
      </div>

      <div class="col-md-3 ml-auto">
        <div class="has-text-right">
            <a href="#">Sell all ariticles</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="tags">
          <a class="button is-rounded is-small active-tag" href="#">See all Ariticles</a>
          <a class="button is-rounded is-small" href="#">Rentals</a>
          <a class="button is-rounded is-small" href="#">Buyers</a>
          <a class="button is-rounded is-small" href="#">Sellers</a>
          
      </div>
    </div>
  </div>

  <div style="padding-top: 20px" class="article-slides" appArticleCarousel>
  <div *ngFor="let article of articles" class="place-carousel">
  <div class="article-card">
      <a class="article-image">
        <img [src]="article.image" alt="{{ article.title }}">
        <span class="read-more">Read more</span>
      </a>
      <div class="content">
          <div class="article-date">
            {{article.date}}
          </div>
          <div class="article-title">
            <a>{{article.title}}</a>
          </div>
          <div class="article-description">
            <p>{{article.desc | slice:0:50}}
          </div>
      </div>
  </div>
</div>
</div>
 <!-- arrows -->
    <div class="padding-square">
        <div class="slider-arrows">
      
  <button class="arrow prev-article-slide" onclick="prevSlide()"><i class="fa fa-chevron-left"></i></button> <!-- A button with a previous icon -->
  <button class="arrow next-article-slide" style="cursor: pointer;" onclick="nextSlide()"><i class="fa fa-chevron-right"></i></button> <!-- A button with a next icon -->
    </div>
    </div>
<br><br>
</section>




