

<nav class="navbar ">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="./assets/images/logo.png" alt="Logo" width="112" height="28">
    </a>

    <div style="visibility: hidden">
         <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
    </div>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-end is-flex-mobile-start">
      <a class="navbar-item " href="/">
        Home
      </a>
      
      <div class="navbar-item has-dropdown is-hoverable is-mega">
        <div class="navbar-link flex">
          Buy
        </div>
        <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
          <div class="container is-fluid">
            <div class="columns">
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title" id="mega-title">For sale</h1>
                <a class="navbar-item custom" href="/buy/sale/homes">
                  Homes for sale
                </a>
                <a class="navbar-item custom" href="buy/sale/new-estates">
                  New Estates
                </a>
                <a class="navbar-item custom" href="buy/underveloped-properties">
                 Underdeveloped Properties
                </a>  
                <a class="navbar-item custom" href="buy/underveloped-properties">
                 All Listing
                </a>
                
              </div>
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Resources</h1>
                <a class="navbar-item custom" href="/#">
                  
                    Distress Sale
                  
                </a>
                <a class="navbar-item custom" href="buyers-guide">
                  Buyers Guide
                </a>
                <a class="navbar-item custom" href="download-app">
                  Imba Pano App
                </a>
                <a class="navbar-item custom" href="#">
                  Affordability Calculator
                </a>
              </div>
            
              
            </div>
          </div>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable is-mega">
        <div class="navbar-link flex">
          Rent
        </div>
        <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
          <div class="container is-fluid">
            <div class="columns">
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">For rent</h1>
                <a class="navbar-item custom" href="#">
                  House for rent
                </a>
                <a class="navbar-item custom" href="#">
                  Apartment for rent
                </a>
                <a class="navbar-item custom" href="#">
                 Short Let
                </a>
                <a class="navbar-item custom" href="#">
                  All rent listing
                </a>
              </div>

              <div class="column">
                
                <a class="navbar-item custom" href="#">
                  Lease
                </a>
                <a class="navbar-item custom" href="#">
                 List a rental
                </a>
              </div>
              <div class="column">
                <h1 class="title is-6 is-mega-menu-title">Resources</h1>
                <a class="navbar-item custom" href="#">
                    Rent Calculator
                </a>
                <a class="navbar-item custom" href="rental-guide">
                  Rental Guide
                </a>
              </div>
            
              
            </div>
          </div>
        </div>
      </div>

        <div class="navbar-item has-dropdown is-hoverable is-mega">
        <div class="navbar-link flex">
          Sell
        </div>
        <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
          <div class="container">
            <div class="columns">
              <div class="column">
                
                <a class="navbar-item " href="sellers-guide">
                  Sellers Guide
                </a>
                <a class="navbar-item " href="#">
                  Estimate Value
                </a>
                <a class="navbar-item " href="#">
                  Post a sale
                </a>
                <a class="navbar-item " href="#">
                  Allocate Agent
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

             <div class="navbar-item has-dropdown is-hoverable is-mega">
        <div class="navbar-link flex">
          Find Agent
        </div>
        <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
          <div class="container">
            <div class="columns">
              <div class="column">
                <a class="navbar-item " href="#">
                 Real Estate
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

        
      
      <a class="navbar-item " href="help">
       Help
      </a>
      <a class="navbar-item " href="premium-ads">
        Premium Ads
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger">
            <strong>Sign In</strong>
          </a>
          <a class="button is-light">
            Create Account
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>